*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Sora', sans-serif;
}

#backview {
  height: 100vh;
  width: 100vw;
  background: rgb(0,150,136);
  background: linear-gradient(180deg, rgba(0,150,136,1) 20%, rgba(221,219,208,1) 20%, rgba(210,219,220,1) 100%);
  position: relative;
}
#container {
  height: 90%;
  width: 70%;
  position: absolute;
  top: 5%;
  left: 15%;
  background-color: #EAEAEA;
}
/* HEADER */
#header {
  height: 80px;
  width: 100%;
  display: flex;
}
#header img {
  height: 70px;
  margin: 0 10px;
  background-color: black;
  border-radius: 50%;
}
#header p {
  font-size: 18px;
  font-weight: 800;
}
.icons {
  color: grey;
  position: absolute;
  right: 10px;
  font-size: 20px;
}
.icons i {
  margin: 0 10px;
}
.icons i:hover {
  cursor: pointer;
}

#header_left {
  height: 100%;
  width: 35%;
  border-right: 1px solid lightgrey;
  position: relative;
  display: flex;
  align-items: center;
}
#header_right {
  height: 100%;
  width: 65%;
  border-left: 1px solid lightgrey;
  position: relative;
  display: flex;
  align-items: center;
}

/* MAIN */
#main {
  height: calc(100% - 80px);
  width: 100%;
  background-color: white;
  display: flex;
}

/* MAIN LEFT */
#main_left {
  height: 100%;
  width: 35%;
}
#main_left_top {
  min-height: 90px;
  display: flex;
  align-items: center;
  background-color: #8EDAFC;
}
#main_left_top i {
  font-size: 20px;
  color: #8EDAFC;
  padding: 10px;
  margin: 10px;
  border-radius: 50%;
  background-color: white;
}
#main_left_top span {
  color: grey;
  text-decoration: underline;
}

#main_left_mid {
  height: 50px;
  width: 100%;
  padding: 10px;
  background-color: #FAFAFA;
}
.main_left_mid_input {
  height: 100%;
  width: 100%;
  font-size: 15px;
  border: 1px solid lightgrey;
  background: url("img/iconsearch.png") 5px 1px;
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 90px;
  background-color: white;
}

#main_left_bottom {
  height: calc(100% - 140px);
  width: 100%;
  overflow-y: scroll;
}
#main_left_bottom img {
  height: 70px;
  margin: 0 10px;
  background-color: black;
  border-radius: 50%;
}

.contact {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.contact:hover {
  background-color: #EAEAEA;
  cursor: pointer;
}
.active {
  background-color: lightgrey;
}


/* MAIN RIGHT */

#main_right {
  height: 100%;
  width: 65%;
  overflow-y: scroll;
  background-image: url("img/sfondo.png");
}
#messages {
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
}
.message {
  position: relative;
  width: 35%;
  margin: 10px;
  padding: 10px 10px 20px 10px;
  border-radius: 10px;
  word-break: break-all;
}
.sent {
  background-color: white;
}
.received {
  background-color: #D5F9BA;
  align-self: flex-end;
}
.date {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 10px;
  color: lightgrey;
}

#main_right_bottom {
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: #F3EEEA;
}
#main_right_bottom i {
  text-align: center;
  width: 10%;
  font-size: 20px;
  color: grey;
}
#main_right_bottom i:hover {
  cursor: pointer;
}
#main_right_bottom input {
  width: 80%;
  height: 70%;
  border: none;
  padding-left: 20px;
}
